<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "lib/jquery-ui.min" %>
	<%= stylesheet_link_tag "lib/fullcalendar" %>
	<%= stylesheet_link_tag "calendar" %>
<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag "lib/jquery-ui.custom.min" %>
	<%= javascript_include_tag "lib/fullcalendar.min" %>
	<%= javascript_include_tag "lib/mailcheck.min" %>
	<%= javascript_include_tag "calendar" %>
	<%= javascript_include_tag "calendar_work_day" %>
<% end %>

<% is_self_user = !(@current_user.nil?) and @user_name == @current_user.user_name %>
<script>
	$(document).ready(function () {
	        var user_mail = '<%= @user_name %>';
	        //var is_user_specifed = check_if_user_null(user_mail)

	        load_event_to_calendar(user_mail, true, <%= is_self_user %>);

	        $('.importer').change(function () {

	            //$(this).closest("form").ajaxForm();
	            $(this).closest("form").submit();
	        });
	    });
</script>

<% if !is_self_user %>
	<input type="button" class="btn btn-success" value="Next" id="btnShowReuqstInfo" onclick="showRequestUserInfo()" />
	<% content_for :popup_content do %>
		<%= render "calendar/request_info.html.erb" %>
	<% end %>
<% end %>

<div id='calendar'></div>