<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "groups" %>
<% end %>

<% if @group.errors.any? %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<%= @group.errors.full_messages.first %>
	</div>
<% end %>

<h2>
	<%= @group.name%> 
</h2>

<div id="users">
	<% @group.users.each do |user| %>
		<div class="user">
		  	<% unless user.picture_path.nil? %>
				<img id="user-picture" src="../user_photos/<%= user.user_name %>.jpg"></img>
			<% end %>

			<%= user.user_name %>
			<% if @group.admin? user %>
		  		<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
		  	<% end %>
		</div>
	<% end %>
</div>

<% if @group.admin? @current_full_user %>
	<%= form_tag do %>
		<input class="form-control" name="username" placeholder="username" />
		<input type="submit" class="btn btn-info" value="Add user" />
	<% end %>
<% end %>