<div class="container">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= @user.errors.full_messages.first %>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, :class => "form-control" %></td>
      <td class="require_field">*</td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.text_field :password, :class => "form-control" %></td>
      <td class="require_field">*</td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email, :class => "form-control" %></td>
      <td class="require_field">*</td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit class: "btn btn-info btn-block" %>
  </div>
<% end %>
</div>