<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "register" %>
<% end %>

<% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= @user.errors.full_messages.first %>
    </div>
  <% end %>
<div id="wrapper" class="container">

    <%= form_for(@user, html: {:class => 'login-form'}) do |f| %>

        <%= f.text_field :first_name, :class => "input form-control first_name", :placeholder => "First name", :required => true %>       

        <%= f.text_field :last_name, :class => "input form-control last_name", :placeholder => "Last name", :required => true %>       

        <%= f.text_field :user_name, :class => "input form-control username", :placeholder => "Username" ,:required => true, 
                         :pattern => '[^-\s]*', :title => 'Spaces are not allowed' %>       

        <%= f.email_field :email, :class => "input form-control email_name", :placeholder => "Email", :required => true %>  

        <%= f.password_field :password, :class => "input form-control password", :placeholder => "Password", :required => true %>  

        <%= f.submit 'Register', :class => 'btn btn-success btn-block' %>
    
    <% end %>

</div>
