<div class="content registerBox" style="display:none;">
 <div class="form">
    <%= form_for(user) do |f| %>
      <%= f.text_field :first_name, :class => "input form-control", :placeholder => "First name", :required => true %>       
      <%= f.text_field :last_name, :class => "input form-control", :placeholder => "Last name", :required => true %>       
      <%= f.text_field :user_name, :class => "input form-control", :placeholder => "Username" ,:required => true, :pattern => '[^-\s]*', :title => 'Spaces are not allowed' %>       
      <%= f.email_field :email, :class => "input form-control", :placeholder => "Email", :required => true %>
      <%= f.password_field :password, :class => "input form-control", :placeholder => "Password", :required => true %>  
      
      <%= f.fields_for user.registration_key do |r| %>
            <%= r.text_field :key, :class => "input form-control", :placeholder => "Key", :required => true %>  
      <% end %> 

      <%= f.submit 'Register', :class => 'btn btn-default btn-register' %>
  <% end %>
  </div>
</div>