<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "fullcalendar" %>
	<%= stylesheet_link_tag "calendar" %>
<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag "fullcalendar.min" %>
	<%= javascript_include_tag "calendar" %>
<% end %>

<script>
	$(document).ready(function () {
	        var user_mail = '<%= @user %>';
	        //var is_user_specifed = check_if_user_null(user_mail)

	        load_event_to_calendar(user_mail, true);

	        $('.importer').change(function () {

	            //$(this).closest("form").ajaxForm();
	            $(this).closest("form").submit();
	        });
	    });
</script>

<div id='calendar'></div>
<div id='side'>
	<button id="add_temps_btn" onclick="show_temp_events()">Add</button>
</div>

<div id="temp_events">
	<form action="javascript:void(0);" onsubmit="send_to_server()">
		<u><h1>New Event Proposal</h1></u>
		<table>
			<tr>
				<td>Subject : </td>
				<td><input id="event_subject_input" type="text" placeholder="enter subject here" required></td>
			</tr>
			<tr>
				<td>Location : </td>
				<td><input id="event_location_input" type="text" placeholder="enter location here"></td>
			</tr>
			<tr>
				<td>Your Email : </td>
				<td><input id="request_mail_input" type="text" placeholder="enter mail here" required></td>
			</tr>
			<tr>
				<td>Your Name : </td>
				<td><input id="request_name_input" type="text" placeholder="enter name here" required></td>
			</tr>
		</table>

		<div id="proposals">
			<table id="proposal_table" class="table">
				<tbody></tbody>
			</table>
		</div>

		<center>
			<input type="submit" value="Send" class="btn btn-success" id="send_request_btn">
		</center>
	</from>
</div>