<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<strong>Events: </strong>
	<br>
	<strong style="color:red">All the dates are in UTC , i need to parse then to the current GMT time</strong><br>
	<% @user.events.each do |e| %>
		<%= e.subject %> - <%= e.location %> ( <%= e.start_time %> - <%= e.end_time %> )
		<br>
	<% end %>
</p>

<p>
	<strong>Requests :</strong>
	<br>
	<% @user.requests.each do |r| %>
		<%= r.subject %> ( from <%= r.return_name %> - <%= r.return_mail %> )
		<br>
		<% r.request_proposals.each do |p| %>
			<%= p.start_time %> - <%= p.end_time %>
			<br>
		<% end %>
	<% end %>
</p>

<p>
	<strong>Work Hours :</strong>
	<br>
	<% @user.work_hours.each do |day| %>
		<b><%= day.day %></b> start at <%= day.start_at %> ends at <%= day.end_at %> ( <%= day.short_day_name %> )
		<br>
	<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
