<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<strong>Events: </strong>
	<br>
	<strong style="color:red">All the dates are in UTC , i need to parse then to the current GMT time</strong><br>
	<% @user.events.each do |e| %>
		<%= e.subject %> - <%= e.location %> ( start at <%= e.start_time %> )
		<br>
	<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
