<h1>Gmail</h1>
<% if(@user.mail_importer.all?{|importer| !(importer.specific.is_a? GmailImporter)}) %>
	<%= link_to "Add Gmail Account", "/auth/google_oauth2", :target => "_blank" %>
<% else %>
	<%= link_to "Signout from Gmail", "/settings/logout" %>
<% end %>

<h1>Exchange</h1>
<% if(@user.mail_importer.all?{|importer| !(importer.specific.is_a? ExchangeImporter)}) %>
	<%= render partial:'exchange', locals: { importer: ExchangeImporter.new } %> 
<% else %>
	<% importer = @user.mail_importer.select{|importer| (importer.specific.is_a? ExchangeImporter)}.first.specific %>
	<%= render partial:'exchange', locals: { importer: importer } %> 
	<%= link_to 'Destroy', importer, method: :delete, data: { confirm: 'Are you sure?' }, id: importer.id %>
<% end %>

