<style>
	.time-button{
		display: inline;
	}
</style>

<script>
	//$(function () {
	//	var time_day = []
	//	$.get("/user/<%= @current_user.email %>/work_day?gmt="+get_gmt_offset(), function(data) {
	//      time_day = data
	//    })
	//    .done(function(){
	//        set_up(time_day)
	//    })
	//});
</script>

<table>
	<tr>
		<th>Day</th>
		<th>Start at</th>
		<th>End at</th>
		<th>Vication</th>
	</tr>
	<% @user_work_hours.each do |work_day, day_index| %>
		<tr>
			<td id="<%= work_day.short_day_name %>"><%= work_day.day %></td>
			<td>
				<div class="input-group bootstrap-timepicker">
				    <input id="timepicker-start-<%= work_day.short_day_name %>" class="hour_picker" utc-seconds="<%= work_day.start_at %>" type="text">
				    <span class="input-group-addon time-button">
				    	<i class="glyphicon glyphicon-time"></i>
				    </span>
				</div>
			</td>
			<td>
				<div class="input-group bootstrap-timepicker">
				    <input id="timepicker-end-<%= work_day.short_day_name %>" class="hour_picker" utc-seconds="<%= work_day.end_at %>" type="text">
				    <span class="input-group-addon time-button">
				    	<i class="glyphicon glyphicon-time"></i>
				    </span>
				</div>
			</td>
			<td><input type="checkbox" value="" id="vication_<%= work_day.short_day_name %>" class="vication" day="<%= work_day.short_day_name %>"></td>
		</tr>
	<% end %>
</table>

<button id="save_work_days" onclick="send_to_server()" class="btn btn-info">Update</button>