<% content_for :javascripts do %>
    <%= javascript_include_tag "web_mails" %>
<% end %>

<% content_for :setting_data do %>
	<h3>Google Calendar</h3>
	<% if(@current_full_user.mail_importer.all?{|importer| !(importer.specific.is_a? GmailImporter)}) %>
		<div id="gSignInWrapper">
		    <label>Sign in :</label>
		    <%= link_to('/auth/google_oauth2', :target => "_blank") do %>
		    	<div id="customBtn" class="customGPlusSignIn">
		    	  	<span class="icon"></span>
		    	  	<span class="buttonText">Google</span>
		    	</div>
		    <% end %>
	  	</div>
	<% else %>
		<label>Sign out :</label>
		    <%= link_to('/settings/logout') do %>
		    	<div id="customBtn" class="customGPlusSignIn">
		    	  	<span class="icon"></span>
		    	  	<span class="buttonText">Google</span>
		    	</div>
		    <% end %>
	<% end %>

	<hr>
	<h3>Local</h3>
	<% if(@current_full_user.mail_importer.all?{|importer| !(importer.specific.is_a? LocalImporter)}) %>
		<%= link_to "Create local account", {:controller => :local_events, :action => :create}, {:method => :post} %>
	<% else %>
		<%#= link_to "Signout from Gmail", "/settings/logout" %>
		You already have a local account
	<% end %>

	<hr>
	<h3>Exchange</h3>
	<% if(@current_full_user.mail_importer.all?{|importer| !(importer.specific.is_a? ExchangeImporter)}) %>
		<%= render partial:'exchange', locals: { importer: ExchangeImporter.new } %> 
	<% else %>
		<% importer = @current_full_user.mail_importer.select{|importer| (importer.specific.is_a? ExchangeImporter)}.first.specific %>
		<%= render partial:'exchange', locals: { importer: importer } %> 
	<% end %>
<% end %>

<%= render template: "settings/settings" %>