<% content_for :javascripts do %>
	<%= javascript_include_tag "work_hour" %>
	<%= javascript_include_tag "lib/bootstrap-timepicker" %>
<% end %>
<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "lib/bootstrap-timepicker.min" %>
<% end %>

<% content_for :setting_data do %>
	<style>
		.time-button{
			display: inline;
		}
	</style>

	<div id="notice" class="alert">
		<%= notice %>
	</p>

	<%= form_for(@current_full_user, url: {action: "save_work_hours"}) do |user_from| %>

		<input type="hidden" id="gmt_offset" name="gmt" value="0" />

		<table>
			<tr>
				<th>Day</th>
				<th>Start at</th>
				<th>End at</th>
				<th>Vication</th>
			</tr>
		<% @current_full_user.work_hours.sort{|x,y| x.id <=> y.id}.each do |work_hour| %>
			<tr>
				<%= user_from.fields_for :work_hours, work_hour do |work_hour_form| %>
					<td><%= work_hour_form.object.day %></td>
					<td>
						<div class="input-group bootstrap-timepicker">
							<%= work_hour_form.text_field :start_at, id: "timepicker-start-#{work_hour_form.object.short_day_name}" ,
									  class: "hour_picker", 'data-seconds'=> work_hour_form.object.start_at.second_of_day %>
						    
						    <span class="input-group-addon time-button">
						    	<i class="glyphicon glyphicon-time"></i>
						    </span>
						</div>
					</td>
					<td>
						<div class="input-group bootstrap-timepicker">
							<%= work_hour_form.text_field :end_at, id: "timepicker-end-#{work_hour_form.object.short_day_name}" ,
									  class: "hour_picker", 'data-seconds'=> work_hour_form.object.end_at.second_of_day %>
						    
						    <span class="input-group-addon time-button">
						    	<i class="glyphicon glyphicon-time"></i>
						    </span>
						</div>
					</td>
					<td>
						<input type="checkbox" id="vication_<%= work_hour_form.object.short_day_name %>" 
							   <%= "checked" if work_hour_form.object.start_at.second_of_day == 0 && work_hour_form.object.end_at.second_of_day==0%>
							   class="vication" data-day="<%= work_hour_form.object.short_day_name %>">
					</td>	
	    		<% end %>
    		</tr>
	  	<% end %>
    	</table>

	  	<br>
	  	<%= user_from.submit "Update work hours", class: "btn btn-info" %>

	<% end %>
<% end %>

<%= render template: "settings/settings" %>