# encoding: utf-8

<script>
	var user_name = "<%= @current_username %>"
	var requests = <%= @requests.to_json({:include => :request_proposals}).html_safe %>;
</script>

<div id="delete">
    <br>
    <% @requests.each do |request| %>
        <button type="button" class="btn delete btn-danger" onclick="delete_request(<%= request.id %>)" 
                id="delete_request_<%= request.id %>">
            <span class="glyphicon glyphicon-remove"/>
        </button>
        <br>
    <% end %>
</div>

<div id="requests">
	<b>Requests</b>
    <ul class="nav nav-pills nav-stacked">
        <!--li class="active"><a href="#">Home</a></li-->
        <% @requests.each do |request| %>
            <li id="request_<%= request.id %>">
                <a href="#" onclick="show_request_proposels(<%= request.id %>)" style="margin-left:10px">
                   <%= request.subject %> from <%= request.return_name %>
                </a>
            </li>
        <% end %>
    </ul>
</div>

<div id="proposels">
	<b>Proposels</b>
	<ul class="nav nav-pills nav-stacked" id="request_proposels_list">
	</ul>
</div>

<div id='calendar'></div>