<% content_for :stylesheets do %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" />
<% end %>

<div class="container">
	<% @staff.each do |person| %>
		<div class="col-lg-6">
	    	<div class="media">
	    		<a class="pull-left" href="#">
	                <img class="media-object dp img-circle" src="assets/Profiles/<%= person.pic_name %>" style="width: 100px;height:100px;">
	            </a>
	            <div class="media-body">
	                <h4 class="media-heading"><%= person.name %> <small> <%= person.location %> </small></h4>
	                <h5><%= person.desc %></h5>
	                
	                <hr style="margin:8px auto">
	                
	                <div class="social-network">
	                    social network will appear here
	                </div>

	                <div class="tags">
	                    <% person.tags.each do |tag| %>
			                <span class="label label-default"><%= tag %></span>
		                <% end %>
	                </div>

	            </div>
			</div>
		</div>
	<% end %>
</div>