<nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="<%= url_for(root_path) %>">
            <div class="logo">
                <%= image_tag 'logo_white.png', height: "50", width: "60" %>
            </div>
            <!--div class="brand"> Scheddy </div-->
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                    <a href="<%= url_for(about_path) %>">
                        <i class="pe-7s-id"></i>
                        <p>About</p>
                    </a>
                  </li>
                    <% if !@current_username.nil? %>
                      <li>
                        <a href="\<%= @current_username %>" >
                            <i class="pe-7s-date"></i>
                            <p>Calendar</p>
                        </a>
                      </li>
                      <li>
                          <a href="<%= url_for(requests_path) %>">
                              <i class="pe-7s-mail">
                                  <span class="label" id="request_count"> </span>  
                              </i>
                              <p>Requests</p>
                          </a>
                      </li>
                      <li>
                          <a href="<%= url_for(groups_path) %>">
                              <i class="pe-7s-global"></i>
                              <p>Groups</p>
                          </a>
                      </li>
                      <li>
                          <a href="<%= url_for(settings_mails_path) %>">
                              <i class="pe-7s-tools"></i>
                              <p>Settings</p>
                          </a>
                      </li>
                    <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-user"></i>
                        <p>Account</p>
              </a>
              <ul class="dropdown-menu">
                <% if !@current_username.nil? %>
                  <li><a href="<%= url_for(logout_path) %>">Logout</a></li>
                <% else %>
                  <li><a href="javascript:void(0)" onclick="openLoginModal();">Login</a></li>
                  <li><a href="javascript:void(0)" onclick="openRegisterModal();">Sign up</a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
</nav>