<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= stylesheet_link_tag    "bootstrap-responsive.min" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "pop_up" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "pop_up" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="pop_up_stuff">
    <div id="toPopup">    	
        <div class="close"></div>
        <div id="popup_content"> <h1>Loading</h1> </div>
    </div>
    <div class="loader"></div>
    <div id="backgroundPopup"></div>
</div>

<nav>
  <div class="menu">
    <ul>
      <li class="single-link %>"><a href="#">Bla</a></li> <!-- use 'current' if current_page?(:controller => "users", :action => "show") -->
      <li class="single-link"><a target="_blank" href="#">About</a></li>
      <% if !@current_user.nil? %>
        <li class="single-link"><%= link_to "Requests  (...)", requests_path, {:id => "request_count"} %></li>  
      <% end %>

      <% if @current_user.nil? %>
        <li class="single-link right-link"><%= link_to "Login", login_path %></li>
      <% else %>
        <li class="single-link right-link"><%= link_to "Logout", logout_path %></li>
        <li class="single-link right-link"><%= link_to "Profile", user_path(@current_user) %></li>
        <li class="single-link right-link" style="color: #CCCCCC">Hello <%= @current_user.name %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
