<!DOCTYPE html>
<html>
<head>
  <title>Scheddy</title>
  <%= stylesheet_link_tag    "lib/bootstrap.min" %>
  <%= stylesheet_link_tag    "lib/bootstrap-responsive.min" %>
  <%= stylesheet_link_tag    "lib/ct-navbar" %>
  <%= stylesheet_link_tag    "lib/pe-icon-7-stroke" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "pop_up" %>
  
  <%= yield :stylesheets %>

  <%= javascript_include_tag "lib/jquery-2.1.1.min" %>
  <%= javascript_include_tag "lib/bootstrap.min" %>
  <%= javascript_include_tag 'lib/jquery_ujs' %>
  <%= javascript_include_tag "date_helper" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "pop_up" %>
  <%= javascript_include_tag "lib/ct-navbar" %>
  <%= yield :javascripts %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div id="pop_up_stuff">
    <div id="toPopup">    	
        <div class="close"></div>
        <div id="popup_content" class="center_popup"> 
          <%= yield :popup_content %>
        </div>
    </div>
    <div id="loadingPopup" class="center_popup">
      <h1>Loading</h1>
    </div>
    <div id="backgroundPopup"></div>
</div>

<nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="http://www.creative-tim.com">
                <!--div class="logo">
                    <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png">
                </div-->
                <div class="brand"> Scheddy </div>
              </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                    <% if !@current_user.nil? %>
                      <li>
                        <a href="\<%= @current_user.user_name %>" >
                            <i class="pe-7s-date"></i>
                            <p>Calendar</p>
                        </a>
                      </li>
                      <li>
                          <a href="<%= url_for(requests_path) %>">
                              <i class="pe-7s-mail">
                                  <span class="label" id="request_count"> </span>  
                              </i>
                              <p>Requests</p>
                          </a>
                      </li>

                      <li>
                          <a href="<%= url_for(settings_mails_path) %>">
                              <i class="pe-7s-tools"></i>
                              <p>Settings</p>
                          </a>
                      </li>
                    <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-user"></i>
                        <p>Account</p>
              </a>
              <ul class="dropdown-menu">
                <% if !@current_user.nil? %>
                  <li><a href="<%= url_for(logout_path) %>">Logout</a></li>
                <% else %>
                  <li><a href="<%= url_for(login_path) %>">Login</a></li>
                  <li><a href="<%= url_for(users_path) %>">Sign up</a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar --> 

<div id="content">
  <%= yield %>
</div>

</body>
</html>
